i{
    color: orange;
}
a{
    color:#00cccc !important;
}

span{
     color: orange;
}
.glyphicon-play-circle{
        color:#e60000 !important;
        font-size: 20px!important;
   }
.fa-level-up{
    font-size: 50px!important;
    
}
.fa-exchange{
    font-size: 50px!important;
}

.fa-ban{
    font-size: 50px !important;
}
.fa-exclamation-circle{
    font-size: 50px !important;
}
.fa-ambulance{
    font-size: 50px !important;
}

.glyphicon {
    font-size: 50px !important;
}
.fa-medkit{
    font-size: 50px !important;
}
.fa-hand-rock-o{
    font-size: 50px !important;
}
.fa-user-md{
    font-size: 50px !important;
}
.fa-external-link-square{
    font-size: 50px !important;
}
.fa-users{
    font-size: 50px !important;
}
.fa-headphones{
    font-size: 50px !important;
}
.fa-exclamation-triangle{
    font-size: 50px !important;
}
#logoimg{
    width: 142px !important;
}
.fa-bullhorn{
    font-size: 50px !important;
}
.fa-cubes{
    font-size: 50px !important;
}
.justifyText{
text-align : justify;
}
.fa-eye{
    font-size: 50px !important;
}

.fa-car{
    font-size: 50px !important;
}

.fa-share{
    font-size: 50px !important;
}
.fa-fire-extinguisher{
    font-size: 50px !important;
}
.fa-shield{
    font-size: 50px !important;
}
.fa-wrench{
    font-size: 50px !important;
}
.fa-cutlery{
     font-size: 50px !important;
}
.fa-flask{
    font-size: 50px !important;
}
.glyphicon-user{
font-size: 15px !important;
}
.glyphicon-envelope{
font-size: 15px !important;
}
.glyphicon-paperclip{
font-size: 15px !important;
}
.glyphicon-comment{
font-size: 15px !important;
}
